.dropdown-wrapper {
    display: block;

    .btn {
        width: 100%;
    }
}
.dropdown {
    display: inline-block;
    position: relative;
    border: 1px solid black;
    background-color: white;
    color: black;
}

.dropdown-menu {
    position: relative;
    float: none;
    clear: both;
    width: inherit;
}
